
body {
  font-family: "Roboto", sans-serif;
}
.container {
  width: 1280px;
  margin: 0 auto;
  
}

.logo-title {
  text-decoration: none;
  display: inline-block;
  font-size: 80px;
  color: #000;
  margin-top: 63px;
  margin-bottom: 40px;
}


.mda {
  color: #4bcaff;

}

.top-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #35444f;
}


.top-menu-item {
  color: #fff;
  font-size: 24px;
  border-left: 1px solid #fff;
  padding: 24px 32px 18px 32px;
}

.top-menu-item:nth-last-of-type(1) {
  border-right: 1px solid #fff;
}


.top-menu-link {
  text-decoration: none;
  color: #fff;
}
.top-menu-item:hover {
  background-color: #222F3A;
 }

.menu{

}
.left-menu {
 
  border: 1px solid #000;
  width: 344px;
  height: 349px;
  
}

.left-menu-item {
  color: #fff;
  font-size: 24px;
  padding: 26px 32px 18px 32px;
}

.left-menu-link {
  text-decoration: none;
  color: #485863;
}

.left-menu-item:hover {
  background: #DBDBDB;
 }

 .left-menu-link:hover {
 color: #000000;
 }

 .content {
  margin-top: 49px ;
  display: flex;
  gap: 52px;
  
}

.image-container {
  }

.image {
  align-items: right;
  width: 885px;
  height: 529px;
  border: 1px solid #000;
 
}
img {
width: 320px; 
height: 381px ;
margin: 75px 268px 72px 297px;
}

img {
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.1); 
}

.paragraph-1 {
  padding-top: 37px;
  padding-bottom: 13px;
}

.paragraph-2{
  padding-bottom: 54px;
}

p {
  font-size: 18px;
  font-weight: 400;
 line-height: 24px;
}

.footer {
  height: 69px;
 }

.footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(99, 105, 110, 0.48);
}

.footer-menu-item {
  color: #2C2C2C;
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 21px;
}

.footer-menu-link {
  text-decoration: none;
  color: #0C1927;
  padding-left: 20px;
}

.footer-menu-link:hover {
  color: #3181A6;
  text-decoration: underline;
  text-underline-offset: 9px;
}

.footer-paragraph-2 {
  padding-left: 135px;
 color: #010101;
 font-size: 24px;
 line-height: 24px; /* 100% */
 padding-left: 135px;
}

.container content {
  justify-content: center;
}